{{#if feature_image}}
  <div class="post-media kg-width-wide">
    <img class="post-image"
      srcset="{{> srcset}}"
      sizes="(min-width: 1170px) 1140px, (min-width: 780px) 750px, calc(100vw - 30px)"
      src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
      alt="{{title}}"
    >
  </div>
{{/if}}