.button-arrow {
  align-items: center;
  display: flex;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.button-arrow:before,
.button-arrow:after {
  color: var(--secondary-text-color);
  display: inline-block;
  font-family: IVEEL;
  font-size: 13px;
  font-weight: 400;
  transition: transform 0.2s var(--animation-base);
}
.button-arrow-left:before {
  content: "\e92b";
  margin-left: -2px;
  margin-right: 5px;
}
.button-arrow-right:after {
  content: "\e92c";
  margin-left: 5px;
  margin-right: -2px;
}
.button-arrow-left:hover:before {
  transform: translateX(-3px);
}
.button-arrow-right:hover:after {
  transform: translateX(3px);
}
