input[type="text"],
input[type="password"],
input[type="email"] {
    padding: 0 15px;
    width: 100%;
    height: 50px;
    outline: none;
    border: 1px solid var(--mid-gray-color);
    font-size: 16px;
    border-radius: 5px;
    appearance: none;
}
