{{!< default}}

<div class="content-area">
  <main class="site-main">
    <div class="post-feed">
      <div class="grid-item grid-sizer"></div>
      {{#foreach posts}}
        {{> "loop"}}
      {{/foreach}}
    </div>
    {{pagination}}
  </main>
</div>