{{!< default}}

<main class="site-main">

    <div class="post-feed gh-feed">
        <div class="grid-item grid-sizer"></div>
        {{#foreach posts}}
            {{> "loop"}}
        {{/foreach}}
    </div>

</main>