{{!< default}}

<main class="site-main">

    <div class="post-feed gh-feed{{#match @custom.on_post_click "Open gallery"}} post-feed_mode_gallery{{/match}}">
        <div class="grid-item grid-sizer"></div>
        {{#foreach posts}}
            {{> "loop"}}
        {{/foreach}}
    </div>

</main>