{{!< default}}

<div class="content-area">
  <main class="site-main kg-width-normal">
    {{#post}}
      <article class="{{post_class}} single">
        {{> post-header}}
        {{#if custom_excerpt}}<div class="post-excerpt">{{custom_excerpt}}</div>{{/if}}
        {{> post-media}}
        <div class="post-content u-text-format">
          {{content}}
        </div>
      </article>
    {{/post}}
    {{> related}}
  </main>
</div>