.gh-head-menu,
.gh-head-link {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: -0.009em;
}

.is-head-left-logo .gh-head-menu {
    justify-content: center;
}

.is-head-left-logo .gh-head-inner {
    grid-template-columns: 100px 1fr 100px;
}

@media (min-width: 992px) {
    .is-head-left-logo .gh-head-menu {
        margin-left: 0;
        margin-right: 0;
    }
}