.mobile-menu {
    background-color: var(--white-color);
    display: none;
    height: calc(100vh - 70px);
    left: 0;
    padding-top: 45px;
    position: absolute;
    top: 70px;
    width: 100%;
    z-index: 90;
}

.mobile-menu .menu-item {
    font-size: 17px;
    font-weight: 500;
    margin: 0;
}

.mobile-menu .menu-item + .menu-item {
    margin-top: 15px;
}

.mobile-menu .nav-list {
    flex-direction: column;
}

.menu-opened .mobile-menu {
    display: block;
}
