.infinite-scroll-request {
  animation: scaleOut 1s infinite ease-in-out;
  background-color: var(--dark-gray-color);
  border-radius: 50%;
  height: 40px;
  margin: 60px auto 0;
  width: 40px;
}

@keyframes scaleOut {
  0% {
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}
