.post-header {
    margin-top: 60px;
    text-align: center;
}

.post-title {
    font-size: 40px;
    letter-spacing: -0.01em;
}

.has-serif-title .post-title {
    font-family: var(--font-serif);
}

.post-excerpt {
    color: var(--secondary-text-color);
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

.has-serif-body .post-excerpt {
    font-family: var(--font-serif);
    font-size: 22px;
    line-height: 1.4;
}

.post-media {
    margin-top: 60px;
}

.post-content {
    margin-top: 60px;
}

.post-caption {
    display: none;
}

.post-link {
    display: block;
}

.post-lightbox {
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: var(--white-color);
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.2s var(--animation-base), transform 0.2s var(--animation-base);
    transform: scale(0.8);
}

.post-link:hover + .post-lightbox,
.post-lightbox:hover {
    opacity: 1;
    transform: scale(1);
}

@media (max-width: 767px) {
    .post-title {
        font-size: 32px;
    }

    .post-excerpt {
        font-size: 18px;
    }

    .post-media,
    .post-content {
        margin-top: 40px;
    }
}
